:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-primary-light: #484848;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-secondary: #fafafa;
  --mdc-theme-secondary-light: #ffffff;
  --mdc-theme-secondary-dark: #c7c7c7;
  --mdc-theme-background: var(--mdc-theme-secondary);
  --mdc-theme-on-primary: var(--mdc-theme-secondary-light);
  --mdc-theme-on-secondary: var(--mdc-theme-primary-dark);
  --highlight: #e91e63;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body, #root, .App {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--mdc-theme-secondary);
}